@font-face {
    font-family: "Brightholiday";
    src: url("../public/assets/fonts/Brightholiday.ttf");
}

body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #d8a9a8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}
.hero {
    background-image: url(https://picsum.photos/id/25/1920/1080);
    background: linear-gradient(
            rgba(153, 110, 109, 0.65),
            rgba(153, 110, 109, 0.65)
        ),
        rgba(0, 0, 0, 0.55) url("https://picsum.photos/id/381/1920/1080")
            no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    font-family: "Raleway", sans-serif;
}

.hero .title {
    font-family: "Dancing Script";

    font-weight: 700;
    transform: rotate(-2deg);
    font-size: 5rem;
    padding-bottom: 5px;
    color: whitesmoke;
}

.hero .subtitle {
    padding: 35px;
    color: whitesmoke;
    font-size: 1.3rem;
}

.hero .tempatwaktu {
    padding-top: 35px;
    font-size: 1.3rem;
}

.hero .hero-foot {
    height: 60px;
    background: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
}

@media (max-width: 599px) {
    .hero .hero-foot {
        display: none;
    }
}

.hero .hero-foot .hero-foot--wrapper {
    margin: 7px auto;
    height: 50px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop {
    line-height: 38px;
    font-weight: 600;
    text-transform: ;
    letter-spacing: 1px;
    font-size: 1rem;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li.is-active a {
    border-bottom: 2px solid #996e6d;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a {
    color: #996e6d;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a:hover {
    color: #996e6d;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid #c28285;
}

.main-content .section-light {
    padding: 80px 40px;
}

.main-content .section-light.regular-section {
    padding-bottom: 80px;
}

.main-content .section-light.regular-section .is-larger {
    font-size: 1.2rem;
}

@media (max-width: 599px) {
    .main-content .section-light.regular-section .about-links {
        text-align: center;
    }
}

.main-content .section-light.regular-section .right-image img {
    border-radius: 11px;
    margin: 20px;
    box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

@media (max-width: 599px) {
    .main-content .section-light.regular-section .right-image img {
        margin: auto;
    }
}

@media (min-width: 599px) {
    .textarea-container {
        width: 60%;
        margin: 20px auto;
    }
}

.textarea-container {
    margin: 2.5rem auto;
}

.textarea {
    margin-top: 2rem;
}

.bismillah {
    margin: 25px;
    display: inline-block;
    max-height: 50px;
    vertical-align: middle;
}

.nama-lengkap {
    font-family: "Dancing Script";
    color: #996e6d;
    font-size: 3.5rem;
    letter-spacing: 0px;
    padding-bottom: 6px;
    line-height: 3.7rem;
    margin-top: 2rem;
}

.ampersand {
    font-size: 5rem;
    font-family: "Dancing Script";
    color: #996e6d;
    line-height: 5rem;
    display: inline-block;
    vertical-align: middle;
}

.bodytext {
    font-size: 18px;
}

.space40px {
    height: 40px;
}

.space24px {
    height: 24px;
}
